:root {
    --backgroundColor: 120;
    --color: 120;
}
* {
    box-sizing: border-box;
    margin: 0;
}
#App {
    background-image: url("../images/keyboard.JPG");
    background-size: 100% 100%;
    height: 100vh;
}
header {
    background-color: hsla(var(--backgroundColor), 100%, 75%, 90%);
    color: hsl(var(--color), 100%, 15%);
    height: 20%
}
h1 {
    display: inline-block;
    margin-block-start: 1rem;
    margin-inline-start: 2rem;
    margin-inline-end: 2rem;
}
main {
    background-color: rgba(15, 15, 15, 80%);
    color: hsl(var(--color), 100%, 15%);
    height: 60%;
}
footer {
    background-color: hsla(var(--backgroundColor), 100%, 75%, 90%);
    color: hsl(var(--color), 100%, 15%);
    height: 20%;
}
ul {
    list-style-type: none;
    font-size: 2rem;
    padding: 2rem;
}
li {
    margin-left: 0px;
    margin-bottom: 0.5rem;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: lightgreen;
}
.textToWriteArea {
    margin-top: 2rem;
    margin-left: 3rem;
    font-size: 2rem;
    color: white;
}
textArea {
    margin-top: 2rem;
    margin-left: 3rem;
    background-color: lightgreen;
    font-size: 2rem;
    border-style: none;
}
.green {
    color: green;
}
.red {
    color: red;
}